
<div class="mt1 mb2 mt2--md mb6--md">
    <div class="container tc benefits-grid">
        <h2 class="fw--600 sans--large mb4 color--blue pr1 pl1">what do you need?</h2>
    <div class="row gutter--none">
        <div class="col c6 c3--md">
            <div class="p1">
                <a href="/products/oil"><img style="width: 100%;" src="{{ 'balance-WDYN.jpg' | asset_url }}"></a>
            </div>
        </div>
        <div class="col c6 c3--md">
            <div class="p1">
            <a href=" /collections/energy"><img style="width: 100%;" src="{{ 'energy-WDYN.jpg' | asset_url }}"></a>
            </div>
        </div>
        <div class="col c6 c3--md">
            <div class="p1">
            <a href="/collections/recovery"><img style="width: 100%;" src="{{ 'recovery-WDYN.jpg' | asset_url }}"></a>
        </div>
        </div>
        <div class="col c6 c3--md">
            <div class="p1">
            <a href="/collections/sleep"><img style="width: 100%;" src="{{ 'sleep-WDYN.jpg' | asset_url }}"></a>
        </div>
        </div>       
    </div>
  </div>
  
  </div>