<div class="p2 pb1" style="background-color: #E6F1FF;">
    <div class="" style="max-width: 1280px; margin: 24px auto;">
    <div crl8-container-id="product" crl8-filter="productId:'{{ product.selected_or_first_available_variant.sku }}'"></div>
  </div>
    </div>