<div class="col pt1 pt1--md bg--blue" id="gamma">
    <div class="grid-container contained pt2 pb3">
      <div class="row align--center">
        <div class="col c9--lg ">
              <div class="tc mb2 color--white" style="max-width: 760px; margin: 32px auto 40px auto;">
                <p class="sans--medium mb2 fw--600">this weekend only
                </p>

                <p class="sans--medium mb1">
                  <span class="fw--600">30% off</span> the first month of your subscription

                  </p>
                  <p class="sans--medium mb2">
                    <span class="fw--600">10% off</span> a one-time purchase

                </p>
                <p class="sans--medium mb2">use the code <strong>LABORDAY</strong> at checkout.</p>
              </div>
            </div>
        </div>
    </div>
</div>
