

<div class="pt5 pt7--md" style="background-color: #E6F1FF;">
    <h2 class="fw--600 sans--large mb2 color--blue tc pr1 pl1">you’ve got questions,<br /> we’ve got answers</h2>
  
    <div class="container">    
      <div class="row align--center">
      
       
        <div class="col c9--md c8--lg pt3--md mb4 pb3 tc tl--md">
          <div class="accordion">
      <div class="item">
        <a href="#acc1Desk" class="acc-heading-desktop sans--medium mt1 mb1 disable-focus-ring">what is beam rewards?   <i class="fa fa-angle-down" aria-hidden="true"></i></a>
    
        <section id="acc1Desk" class="acc-content-desktop">
          <div class="inner">
            beam rewards is beam's free loyalty program. members will automatically earn 50 points when they create an account and will earn points on every purchase to redeem for discounts. 
        </div><!-- / .inner -->
        </section>
      </div><!-- / .item -->
    
      <div class="item">
        <a href="#acc2Desk" class="acc-heading-desktop sans--medium mt1 mb1 disable-focus-ring">does beam rewards cost money? <i class="fa fa-angle-down" aria-hidden="true"></i></a>
    
        <section id="acc2Desk" class="acc-content-desktop">
          <div class="inner">
            beam rewards is absolutely free to join! just create an account to start earning. 
        </div><!-- / .inner -->
        </section>
      </div><!-- / .item -->
      <div class="item">
        <a href="#acc3Desk" class="acc-heading-desktop sans--medium mt1 mb1 disable-focus-ring">how do I earn points? and what do I get with my points? <i class="fa fa-angle-down" aria-hidden="true"></i></a>
    
        <section id="acc3Desk" class="acc-content-desktop">
          <div class="inner">
            members earn points on every purchase you make and do not return. you'll earn 1 point per $1 you spend, 150 points when you make 5 purchases and earn various points for providing your birthday, make reviews, follow us on instagram and facebook. once you earn 100 points, you'll earn $10 off, earn 200 points and you'll get $20 off, earn 300 points and you'll get $30 points off and earn 400 points and you'll get $40 off. 
            taxes, fees, gift certificates and the coupon amount applied to a purchase do not qualify for points. 
        </div><!-- / .inner -->
        </section>
      </div><!-- / .item -->
  
      <div class="item">
        <a href="#acc4Desk" class="acc-heading-desktop sans--medium mt1 mb1 disable-focus-ring">how do I check my beam rewards balance? 
            <i class="fa fa-angle-down" aria-hidden="true"></i></a>
    
        <section id="acc4Desk" class="acc-content-desktop">
          <div class="inner">
            check your points balance by signing into your account at beamtlc.com then go to https://beamtlc.com/pages/rewards to see your member dashboard. here you can access your point balance, any rewards available to use, and all of the easy ways to earn points.  
        </div><!-- / .inner -->
        </section>
      </div><!-- / .item -->
  
      <div class="item">
        <a href="#acc5Desk" class="acc-heading-desktop sans--medium mt1 mb1 disable-focus-ring">how do I redeem beam rewards points? 
            <i class="fa fa-angle-down" aria-hidden="true"></i></a>
    
        <section id="acc5Desk" class="acc-content-desktop">
          <div class="inner">
            if you have 100 points or more, you'll have enough to redeem for discounts. to redeem, click on 'redeem now' on the https://beamtlc.com/pages/rewards page once you've added your desired item(s) to your cart and your points will automatically be applied to your order on the checkout page. 
            redeem anytime you earn enough points or save up to 400 points for $40 off your order. 
            beam rewards cannot be combined with other discounts or promotions. 
        </div><!-- / .inner -->
        </section>
      </div><!-- / .item -->
      <div class="item">
        <a href="#acc6Desk" class="acc-heading-desktop sans--medium mt1 mb1 disable-focus-ring">do my rewards or points expire? 
            <i class="fa fa-angle-down" aria-hidden="true"></i></a>
    
        <section id="acc7Desk" class="acc-content-desktop">
          <div class="inner">
            points and rewards will not expire if you make at least 1 qualifying purchase every 12 months. 
        </div><!-- / .inner -->
        </section>
      </div><!-- / .item -->
      <div class="item">
        <a href="#acc8Desk" class="acc-heading-desktop sans--medium mt1 mb1 disable-focus-ring">who can join the beam rewards club? 
            <i class="fa fa-angle-down" aria-hidden="true"></i></a>
    
        <section id="acc8Desk" class="acc-content-desktop">
          <div class="inner">
            the beam rewards club is available to US residents who are at least 18 years old at the time of enrollment. 
        </div><!-- / .inner -->
        </section>
      </div><!-- / .item -->
      <div class="item">
        <a href="#acc9Desk" class="acc-heading-desktop sans--medium mt1 mb1 disable-focus-ring">why didn't I earn beam rewards points on my purchase? 
            <i class="fa fa-angle-down" aria-hidden="true"></i></a>
    
        <section id="acc9Desk" class="acc-content-desktop">
          <div class="inner">
there are several reasons you might not have earned points on a purchase. the most common reasons are: 
you checked out as a guest. make sure you log in before checking out so we can apply points to your account. 
you returned your purchase. please note that you will only receive points for items you purchase and do not return.
        </div><!-- / .inner -->
        </section>
      </div><!-- / .item -->
      <div class="item">
        <a href="#acc10Desk" class="acc-heading-desktop sans--medium mt1 mb1 disable-focus-ring">what happens to my points when I return items? 
            <i class="fa fa-angle-down" aria-hidden="true"></i></a>
    
        <section id="acc10Desk" class="acc-content-desktop">
          <div class="inner">
            all points earned from the item, including bonus points, will be deducted from your account when merchandise is returned that was originally purchased using your account. 
        </div><!-- / .inner -->
        </section>
      </div><!-- / .item --> 
    </div><!-- / .accordion -->
  <div class="mt3">
    <a href="/pages/support" class="mr2 button--wave-primary-bottom">visit faq’s</a>
    <a href="" class="mr2 button--wave-primary-bottom hidden">need help?</a>
  </div>
  
  </div>
  
      </div>
  
  
      </div>
  
  </div>
<script>



let accTitleDesktop = document.getElementsByClassName("acc-heading-desktop");
		let accContentDesktop = document.getElementsByClassName("acc-content-desktop");
		let singleModeDesktop = true;
		
		for( let j=0; j<accContentDesktop.length; j++ ){
			let realHeightDesktop = accContentDesktop[j].offsetHeight;
			accContentDesktop[j].setAttribute("data-height", realHeightDesktop + "px");
			accContentDesktop[j].style.height = 0;
		}
		
		for( let i=0; i<accTitleDesktop.length; i++ ){
			accTitleDesktop[i].onclick = function(){
				let openedAccDesktop = this.getAttribute('href').replace('#', '');

				if( this.classList.contains("active") ){
					this.classList.remove("active");
					document.getElementById(openedAccDesktop).style.height = 0;
					
					return false;
				}
				
				if( singleModeDesktop ){						
					for(let k=0; k<accTitleDesktop.length; k++) {
						accTitleDesktop[k].classList.remove("active");
					}

					for(let j=0; j<accContentDesktop.length; j++) {
						accContentDesktop[j].style.height = 0;
					}
				}
				
				this.classList.add("active");
				
				document.getElementById(openedAccDesktop).style.height = accContentDesktop[i].getAttribute("data-height");
				
				return false;
			}
    }
    

    let accTitle = document.getElementsByClassName("acc-heading");
		let accContent = document.getElementsByClassName("acc-content");
		let singleMode = true;
		
		for( let j=0; j<accContent.length; j++ ){
			let realHeight = accContent[j].offsetHeight;
			accContent[j].setAttribute("data-height", realHeight + "px");
			accContent[j].style.height = 0;
		}
		
		for( let i=0; i<accTitle.length; i++ ){
			accTitle[i].onclick = function(){
				let openedAcc = this.getAttribute('href').replace('#', '');

				if( this.classList.contains("active") ){
					this.classList.remove("active");
					document.getElementById(openedAcc).style.height = 0;
					
					return false;
				}
				
				if( singleMode ){						
					for(let k=0; k<accTitle.length; k++) {
						accTitle[k].classList.remove("active");
					}

					for(let j=0; j<accContent.length; j++) {
						accContent[j].style.height = 0;
					}
				}
				
				this.classList.add("active");
				
				document.getElementById(openedAcc).style.height = accContent[i].getAttribute("data-height");
				
				return false;
			}
    }
    
</script>