.cart__item__image {
	width: 100px;

	@media (min-width: 350px) {
		width: 120px;
	}

	@include breakpoint(md) {
		width: 220px;
	}
}
.cart-list {
	display: block;
	margin-top: 36px;
}
.cart-item {
	padding-left: 0;
	margin-bottom: 24px;
    border-top: solid 1px #dedede;
    padding-top: 24px;
}
.cart-item-block.cart-item-figure {
	float: left;
	position: relative;
    overflow: hidden;
	width: 50%;
	margin-right: 4%;
	line-height: 0;
}
.cart-item-block.cart-item-figure .cart-item-image {
	width: 100%;
}
.cart-item-block {
	display: inline-block;
	width: 45%;
}

.container {
    padding: 0 6rem;
}
.cart-item-price {
    text-transform: lowercase;
}
.clearfix {
	clear: both;
}

.quantity {
    width: 30px;
    text-align: center;
}


.button-pill {
	padding: 4px 20px;
	background-color: #fff;
	border-radius: 22px;
	border: solid 1px #231F20;
	transition: 200ms ease-in-out;

}
.button-pill:hover {
	background-color: rgba(255, 255, 255, 0.445);
	cursor: pointer;
	border: solid 1px #2f358e;
	border-radius: 16px;
	color: #2f358e
}


.button--checkout-secondary {
	text-align: center;
    border: 1px solid #333;
    border-radius: 34px;
    padding: 10px;
}
.button--checkout-secondary:hover {
	opacity: .7;
    border: 1px solid #2F358E;
	color: #2F358E;
}