<div class="header__nav">
  <div class="fw--600 promo__container sans--small tc color--primary" style="background-color:#2F358E !important">

    <a class="color--white" id="HeaderNotice" style="color:#fff !important" href="/collections/all-products-collection-page">
      {% if cart.total_price >= 7000 %}
      20% off + free shipping on all subscriptions</strong>
    {% else %}
    <span class="fw--600">20% off + free shipping on all subscriptions
    </span>
  {% endif %}
  </a>

  
  </div>
  <div class="grid-container contained pt1 pt2--md pb1">
    <div class="media media--horizontal media--forward gutter--none align--middle">
 
      <div class="media__fluid color--blue">
        <div class="media media--horizontal media--forward gutter--none">
          <div class="media__fixed pr2 header__logo-pad--desktop">
            <a title="beam" href="/"
              ><svg class="db" alt="beam logo" width="73px" height="20px" viewBox="0 0 73 20">
                <g
                  stroke="none"
                  stroke-width="1"
                  fill="none"
                  fill-rule="evenodd"
                >
                  <g fill="currentColor" fill-rule="nonzero">
                    <path
                      d="M61.1974185,8.53148148 C60.9046867,6.93888889 59.8288972,5.86111111 58.3414536,5.66481481 C57.2294326,5.50993357 56.0999225,5.7735102 55.1671429,6.40555556 C54.4658136,6.87715375 53.8592557,7.47915792 53.3796491,8.17962963 L53.3796491,8.85555556 C53.7184368,8.4757612 54.1435818,8.18527811 54.6182707,8.00925926 C55.0081971,7.85321179 55.4458221,7.87601102 55.8178593,8.07175498 C56.1898966,8.26749895 56.4597702,8.61694369 56.557619,9.02962963 C56.6304546,9.31821453 56.666122,9.61512004 56.6637343,9.91296296 C56.6710526,13.1228395 56.6710526,16.3376543 56.6637343,19.5574074 L56.6637343,19.8481481 L61.2907268,19.6407407 L61.2907268,9.3 C61.2706015,9.03333333 61.2431579,8.77962963 61.1974185,8.53148148 Z"
                    ></path>
                    <path
                      d="M25.5390226,6.87962963 C25.9287218,8.62222222 25.1273684,11.4018519 22.977619,12.3333333 C22.7209675,12.4440849 22.4518276,12.5224515 22.1762657,12.5666667 L22.1762657,12.962963 C22.3244612,12.9796296 22.4708271,12.9962963 22.617193,13.0092593 C23.8594737,13.1240741 25.0980952,13.1166667 26.3092732,12.7703704 C27.5789975,12.4092593 28.5962406,11.7277778 29.1030326,10.4296296 C29.6958145,8.9037037 29.2548872,7.37592593 27.9686967,6.56296296 C27.6625844,6.36352627 27.3323759,6.20481402 26.9862155,6.09074074 C26.3398829,5.88976727 25.6765877,5.74966568 25.004787,5.67222222 L24.9681955,6.00555556 C25.2703791,6.20378845 25.4772446,6.52054948 25.5390226,6.87962963 Z"
                    ></path>
                    <path
                      d="M72.9213283,16.5277778 L72.8444862,16.5388889 C72.7987469,16.6425926 72.7548371,16.7462963 72.7054386,16.8481481 C72.5451819,17.2492891 72.2825245,17.6001419 71.9443358,17.8648148 C71.2545865,18.3518519 70.4806767,18.0666667 70.2977193,17.237037 C70.233942,16.918961 70.2038887,16.5949033 70.2080702,16.2703704 C70.1989223,14.1185185 70.2080702,11.9666667 70.1989223,9.81481481 C70.1975084,9.38523225 70.1601738,8.95654161 70.0873183,8.53333333 C69.8055639,6.94259259 68.7242857,5.86296296 67.2350125,5.66481481 C66.1148076,5.50829464 64.9767174,5.77174764 64.0350877,6.40555556 C63.3300579,6.87810686 62.7208401,7.48279981 62.2402757,8.18703704 L62.2402757,8.86111111 C62.5512722,8.51428277 62.9325822,8.23950439 63.3581454,8.05555556 C64.2436591,7.68518519 65.1291729,8.08888889 65.4090977,9.01851852 C65.4918466,9.31990547 65.5318871,9.63166032 65.5280201,9.94444444 C65.5389975,11.8074074 65.5170426,13.6703704 65.5408271,15.5314815 C65.5384328,16.2325954 65.599676,16.9324496 65.7237845,17.6222222 C65.9451629,18.7333333 66.6001504,19.5203704 67.7363158,19.7611111 C69.9665664,20.2351852 72.0083709,19.2851852 72.9451128,16.712963 C72.9725564,16.6666667 72.9341353,16.5925926 72.9213283,16.5277778 Z"
                    ></path>
                    <path
                      d="M52.4301003,5.62777778 C50.9391678,6.15506058 49.3748394,6.43885567 47.7957895,6.46851852 L47.7957895,6.83888889 C47.7957895,9.95740741 47.7957895,13.0753086 47.7957895,16.1925926 C47.7932189,16.8355477 47.4940986,17.4403879 46.9871178,17.8277778 C46.72044,18.0801835 46.3396103,18.1665794 45.9920075,18.0535306 C45.6444047,17.9404819 45.3845699,17.6457266 45.3130576,17.2833333 C45.2364642,16.9595806 45.2008071,16.6272921 45.2069424,16.2944444 C45.1996241,12.8512346 45.1996241,9.40802469 45.2069424,5.96481481 L45.2069424,5.63888889 C45.1136341,5.65925926 45.0550877,5.66851852 45.0002005,5.68703704 C43.9416393,6.05420536 42.8444315,6.29533596 41.7307519,6.40555556 C41.6036033,6.41754222 41.4758829,6.38974797 41.3648371,6.32592593 C40.8764317,6.00568293 40.3274962,5.79188605 39.7529825,5.69814815 L39.7182206,6.00740741 C40.1884211,6.19259259 40.4646867,6.61666667 40.5159148,7.27592593 C40.5506767,7.72037037 40.5470175,8.17037037 40.5506767,8.61851852 C40.5506767,9.28148148 40.5506767,9.94444444 40.5506767,10.6074074 L40.5598246,10.6074074 L40.5598246,16.6111111 C40.6275188,17.0296296 40.6842356,17.4296296 40.7866917,17.8166667 C41.0556391,18.8203704 41.6575689,19.5351852 42.687619,19.7777778 C44.517193,20.2074074 46.4455639,19.6518519 47.5506266,17.6425926 C47.6146617,17.5296296 47.6750376,17.4148148 47.733584,17.3 L47.7957895,17.3240741 L47.7957895,19.8481481 L52.4209524,19.6407407 L52.4301003,5.62777778 Z"
                    ></path>
                    <path
                      d="M39.4858647,17.5074074 C39.1009983,17.8554213 38.5861977,18.0178772 38.0741239,17.952911 C37.56205,17.8879449 37.1027879,17.601911 36.8146867,17.1685185 C36.3389975,16.4981481 36.1505514,15.7203704 36.066391,14.9240741 C35.8358647,12.7555556 35.9529574,10.612963 36.624411,8.52222222 C36.8138652,7.88248194 37.1245758,7.28620136 37.539198,6.76666667 C37.8445063,6.36190724 38.2778966,6.07556394 38.7668421,5.95555556 L38.801604,5.63888889 C36.5585103,5.55655361 34.3941296,6.48178687 32.8884211,8.16666667 C30.956391,10.2648148 30.4770426,12.7962963 30.9582206,15.5740741 C30.9844273,15.7230261 30.9557873,15.8765347 30.8777193,16.0055556 C30.1403001,17.0598486 29.0966382,17.8553626 27.8918546,18.2814815 C25.9104261,18.9777778 23.8302005,18.4296296 22.556817,16.8666667 C21.8249875,15.9722222 21.4682206,14.9222222 21.307218,13.7907407 C21.2633083,13.4851852 21.2065915,12.612963 21.2065915,12.612963 C21.1797009,11.8198049 21.2485133,11.0262885 21.4115038,10.25 C21.6456892,9.06481481 22.0061153,7.92592593 22.7123308,6.92777778 C22.9710445,6.52815908 23.3329854,6.20792478 23.7588471,6.00185185 C23.8400969,5.96595268 23.92388,5.93624055 24.0094987,5.91296296 L24.0424311,5.61481481 C22.6467238,5.58868856 21.2618972,5.86788936 19.9826065,6.43333333 C18.3611113,7.10674381 17.0928614,8.43745827 16.4862907,10.1018519 C16.0374479,11.3268688 15.9051973,12.6476299 16.1020802,13.9388889 C16.407619,16.237037 17.5273183,17.9796296 19.6166917,19.0092593 C21.2358647,19.8074074 22.9666416,20 24.7394987,19.8444444 C26.7693902,19.7011358 28.6738663,18.7980375 30.0818546,17.3111111 C30.4477694,16.9407407 30.7514787,16.5166667 31.0881203,16.112963 C31.8199499,18.362963 33.2726316,19.7592593 35.68401,19.8796296 C37.453208,19.9685185 38.7265915,19.3240741 39.6102757,18.1092593 L39.6102757,17.3833333 C39.5736842,17.4222222 39.531604,17.4666667 39.4858647,17.5074074 Z"
                    ></path>
                    <path
                      d="M0.0786716792,0.925925926 L0.0786716792,19.4444444 L5.15756892,19.4444444 L5.15756892,0.159259259 C3.48716792,0.740740741 1.80030075,1.11111111 0.0786716792,0.925925926 Z"
                    ></path>
                    <path
                      d="M8.48373434,6.04259259 C7.62963739,6.170872 6.82321181,6.52187652 6.14370927,7.06111111 C6.14370927,7.15925926 6.14370927,7.25555556 6.14370927,7.35185185 C6.14651936,7.40159391 6.15263173,7.45108833 6.16200501,7.5 C6.21689223,7.47222222 6.25531328,7.45740741 6.29190476,7.43518519 C7.20669173,6.87962963 8.13977444,7.05 8.79659148,7.87592593 C9.23332357,8.45953145 9.52453319,9.14115365 9.64551378,9.86296296 C10.037569,11.7886765 10.0475196,13.7740632 9.67478697,15.7037037 C9.56027062,16.406361 9.30027442,17.0765723 8.91185464,17.6703704 C8.27699248,18.5962963 7.3,18.8296296 6.30837093,18.2888889 C6.2593754,18.2676801 6.20929572,18.2491352 6.15834586,18.2333333 C6.15078968,18.2836495 6.1459038,18.3343395 6.14370927,18.3851852 C6.14370927,18.4722222 6.14370927,18.5611111 6.14370927,18.6666667 C7.29456299,19.5529479 8.76115564,19.9072529 10.1834085,19.6425926 C11.5892466,19.4044095 12.849081,18.6237715 13.6980201,17.4648148 C14.5407902,16.3507754 15.0392132,15.0093293 15.1305764,13.6092593 C15.2714536,11.8907407 14.982381,10.2481481 14.0657644,8.7462963 C12.903985,6.85185185 10.8457143,5.67962963 8.48373434,6.04259259 Z"
                    ></path>
                  </g>
                </g></svg><span class="hidden">beam</span></a>
          </div>

          <div class="media__fluid" id="navbarDesktop" role="navigation">
            {% include 'site-nav' %}
          </div>
        </div>
      </div>

      <div class="color--blue">
        <div class="media__fluid">

        <a id="cart-number" class="pr dib sans--small fw--600 p1 pr2 link--opacity-target" href="/cart">
          <i class="fas fa-lg fa-shopping-cart"></i>
          <span class="cart-quantity hidden"></span></a>
        <button id="openMenu" name="open" class=""><svg class="dib" alt="open menu" width="16px" height="16px" viewBox="0 0 16 16"><g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" stroke-linecap="square"><g transform="translate(1.000000, 1.000000)" fill-rule="nonzero" stroke="currentColor" stroke-width="2"><path d="M-3.55271368e-15,0.636363636 L14,0.636363636"></path><path d="M-5.32907052e-15,7 L14,7"></path><path d="M-5.32907052e-15,13.3636364 L14,13.3636364"></path></g></g></svg></button>
        <button id="closeMenu" name="close" class=""><svg class="dib" alt="close menu" width="16px" height="16px" viewBox="0 0 16 16"><g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" stroke-linecap="square"><g transform="translate(1.000000, 1.000000)" fill-rule="nonzero" stroke="currentColor" stroke-width="2"><path d="M-5.32907052e-15,7 L14,7"></path></g></g></svg></button>
      </div>
      </div>
    </div>
    <div class="media__fluid show--lg" id="navbarMobile" role="navigation">
      {% include 'site-nav' %}
      <div class="mt3 mb5 tl hide--md">
        <a href="https://beamtlc.com/pages/sms-support" class="fw--600 sans--medium underline color--primary">need help? text us!</a>
      </div>
    </div>
  </div>
</div>
