
<div class="reveal__container active">
  <div class="pt6 pt10--md push-up">
    <div class="pt6 pb8">
      <div class="grid-container contained">
        <div class="row align--center mb4 mb8--md">
          <div class="col c8--sm c6--md c4--xl">
            <div class="sans--xxl sans--stagger hero__reveal--staggered mb2">
              <p class="tc">nothing</p>
              <p class="tr">to</p>
              <p>see</p>
              <p class="tc">here</p>
              <p class="tc mt4">
                <a title="home" class="button--primary rounded" href="/"
                  >Take Me Home</a
                >
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

