{% comment %}
  Important notes about pagination:
  - Never access collection.products before the opening paginate tag.
  - Never paginate by more than 50.
{% endcomment %}


{% assign products_per_page = settings.products_per_row | times: settings.number_of_rows %}
{% assign numbers = 'zero, one, two, three, four, five, six' | split: ',' %}
{% assign products_per_row = settings.products_per_row | times: 1 %}
{% assign products_per_row = numbers[products_per_row] | strip | append: '-per-row' %}

{% paginate collection.products by products_per_page %}


<img height="1" width="1" style="border-style:none;" alt="" src="https://insight.adsrvr.org/track/pxl/?adv=iv5xfdn&ct=0:kjn7dmf&fmt=3"/>
<div class="col mt2 mt6--md bg--blue-light">
    <div class="reveal__container active">
            <div class="grid-container contained pt10 pb2">
                <div class="row align--center">
                    <div class="col c8--md c6--lg">


                        <div class="tc reveal__component__0--fade-fast">
                            <h1 class="sans--large fw--600 mb2 color--blue">elevate hydration</h1>
                            <div class="tc rich-text serif--small">
                              <p>{{ collection.description }}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
</div>


<div class="pb6 pt1--md bg--blue-light">

  <div class="col">
    <div class="">
        <div class="grid-container contained">
            <div class="row align--center">
                <div class="col c8--lg">

                    <div class="row gutter--vertical align--center">
                      {% for product in collection.products %}
   <div class="col c6--sm c5--md id-{{ product.id }}">
    <div class="product-card pb1">
      {% include 'product-grid-hydration' with products_per_row %}
    </div>
    </div>
    {% else %}
      <p>There are no products in this view.</p>
    {% endfor %}
</div>
</div>
</div>
</div>
</div>
</div>



<div class="media__fixed mt4 tc"><a title="learn more" class="button--wave-primary-bottom" target="_blank" href="https://beamorganics.jebbit.com/rfjjdwr2?L=Owned+Web">find your elevate</a><p></p>
</div>


</div>


{% if paginate.pages > 1 %}
<div class="pagination centered">
  {{ paginate | default_pagination }}
</div>
{% endif %}

{% endpaginate %}

{% comment %}
  JavaScript for collection sorting.
{% endcomment %}
<script>
jQuery('.sort-by')
  .val('{{ collection.sort_by | default: collection.default_sort_by }}')
  .on('change', function() {
    Shopify.queryParams.sort_by = jQuery(this).val();
    location.search = jQuery.param(Shopify.queryParams).replace(/\+/g, '%20');
  });
</script>