
<div class="reveal__container active" style="background-color: #F6FAFF;">
    <div class="pr color--blue of--hidden pt6">
        <div class="pt6">
            <div class="pt6">
                <div class="grid-container contained">
                    <h1 class="sans--xxl tc mb8">support</h1>
                    <div class="row align--center gutter--vertical">
                        <div class="col c6 c4--md c2--lg">
                            <div class="tc">
                                <h3 class="sans--small fw--600 mb1">beam hq</h3>
                                <div class="rich-text">
                                    <p>92 Reservoir Park<br>Rockland, MA 02370<br>9am — 5pm</p>
                                </div>
                            </div>
                        </div>
                        <div class="col c6 c4--md c2--lg">
                            <div class="tc">
                                <h3 class="sans--small fw--600 mb1">get in touch</h3>
                                <div class="rich-text">
                                    <p><a href="tel:6176760564">(617) 676-0564</a><a
                                        href="mailto:hello@beamtlc.com"><br>hello@beamtlc.com</a><a
                                            href="https://beam.typeform.com/to/hwjIj3"><br>Wholesale Inquiries</a></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <img class="pa wave-overlay" src="//cdn.shopify.com/s/files/1/0264/4076/1399/t/12/assets/wave-overlay.png?v=11608760819937612709">

</div>
<div class="mt3 tc hide--md">
    <a href="https://beamtlc.com/pages/sms-support" class="fw--600 sans--medium underline color--primary">need help? text us!</a>
  </div>
<div class="mt6 mb4 mt10--md mb4--md">
    <div class="grid-container contained pt1--md pb1--md">
        <div class="row align--center mb0 mb0--md">
            <div class="col c8--sm c6--lg">
                <div class="tl">
                    <h3 class="sans--large fw--600 mb1 mb2--md color--blue">frequently asked questions</h3>
                </div>
            </div>
        </div>



        <div class="row align--center mb0">
                <div class="col c8--sm c6--lg">
                    <hr />
                    <h2 class="sans--medium fw--600 color--purple mb2">shipping</h2>
                </div>
            </div>
            <div class="row align--center mb0">
                <div class="col c8--sm c6--lg">
                    <div name="toggle"
                    class="media media--horizontal media--forward gutter--none align--middle pt2 pb0"><span
                        class="media__fluid tl link__target"><span class="fw--600 db pr2">where does beam
                            ship?</span></span></div>
                            <div class="mb2"><div class="rich-text"><p>we ship to all 50 states.</p></div></div>
            </div>
        </div>
        <div class="row align--center mb0">
            <div class="col c8--sm c6--lg">
                <div name="toggle"
                    class="media media--horizontal media--forward gutter--none align--middle pt2 pb0"><span
                        class="media__fluid tl link__target"><span class="fw--600 db pr2">
                            do you ship internationally?
                        </span></span></div>
                            <div class="mb2"><div class="rich-text"><p> 
                                unfortunately, we are not able to ship outside of the united states at this time. 
                            </p></div></div>
            </div>
        </div>
        <div class="row align--center mb0">
            <div class="col c8--sm c6--lg">
                <div name="toggle"
                    class="media media--horizontal media--forward gutter--none align--middle pt2 pb0"><span
                        class="media__fluid tl link__target"><span class="fw--600 db pr2">how long will it take for my order to ship?</span></span></div>
                            <div class="mb2"><div class="rich-text"><p>order processing takes 1 to 2 business days. Orders placed after 2pm ET will be processed the next business day. Once the order is processed, you will receive a shipment notification via email with a tracking number. Selecting expedited shipping will not decrease the order processing time.
                            </p></div></div>
            </div>
        </div>
        <div class="row align--center mb0">

            <div class="col c8--sm c6--lg">
                <div name="toggle"
                    class="media media--horizontal media--forward gutter--none align--middle pt2 pb0"><span
                        class="media__fluid tl link__target"><span class="fw--600 db pr2">can i track my order?</span></span></div>
                            <div class="mb0"><div class="rich-text"><p>you’ll receive an email with a tracking number as soon as we ship your order.</p></div></div>
            </div>    
            </div>        
                     
        </div>
    </div>

    <div class="grid-container contained pt0--md pb1--md">
        <div class="row align--center mb0">
            <div class="col c8--sm c6--lg">
                <hr />
                <h2 class="sans--medium fw--600 color--purple mb2">returns + exchanges</h2>
            </div>
        </div>
        <div class="row align--center mb0">
            <div class="col c8--sm c6--lg">
                <div name="toggle"
                    class="media media--horizontal media--forward gutter--none align--middle pt2 pb0"><span
                        class="media__fluid tl link__target"><span class="fw--600 db pr2">what’s your return policy? 
                        </span></span></div>
                            <div class="mb2"><div class="rich-text"><p>we hope you enjoy our products as much as we do. but, if you change your mind about your order, please email hello@beamtlc.com with your order number and which products you’re looking to return (or call us at 833-904-2tlc). We’re happy to offer you a refund within 30 days of the initial purchase date. We can also provide guidance if you’d like to try another one of our products instead.</p></div></div>
                
            </div>
          
                     
        </div>
    </div>

    <div class="grid-container contained pt1--md pb1--md">

        <div class="row align--center mb0">
            <div class="col c8--sm c6--lg">
                <hr />
                <h2 class="sans--medium fw--600 color--purple mb2">Legality</h2>
            </div>
        </div>


        <div class="row align--center mb0">
            <div class="col c8--sm c6--lg">
                <div name="toggle"
                    class="media media--horizontal media--forward gutter--none align--middle pt2 pb0"><span
                        class="media__fluid tl link__target"><span class="fw--600 db pr2">Do I need a marijuana card or a doctor’s prescription to use beam products? 
                        </span></span></div>
                            <div class="mb2"><div class="rich-text"><p>No. You don’t need permission from a doctor to purchase it or use it.
                            </p></div></div>
            </div>    
        </div>        

        <div class="row align--center mb0">
            <div class="col c8--sm c6--lg">
                <div name="toggle"
                    class="media media--horizontal media--forward gutter--none align--middle pt2 pb0"><span
                        class="media__fluid tl link__target"><span class="fw--600 db pr2">Are beam’s products legal throughout the united states?

                        </span></span></div>
                            <div class="mb2"><div class="rich-text"><p>Yes. All of beam’s products can be shipped to all 50 States.
                            </p></div></div>
            </div>
        </div>    
        <div class="row align--center mb0">
            <div class="col c8--sm c6--lg">
                <div name="toggle"
                    class="media media--horizontal media--forward gutter--none align--middle pt2 pb0"><span
                        class="media__fluid tl link__target"><span class="fw--600 db pr2">Can I travel on a plane with beam products?


                        </span></span></div>
                            <div class="mb2"><div class="rich-text"><p>yes. you can travel freely with them in the united states in accordance with tsa regulations.

                            </p></div></div>
            </div>
        </div>     
        


        <div class="row align--center mb0">
            <div class="col c8--sm c6--lg">
                <div name="toggle"
                    class="media media--horizontal media--forward gutter--none align--middle pt2 pb0"><span
                        class="media__fluid tl link__target"><span class="fw--600 db pr2">What kind of analysis is performed on your products?

                        </span></span></div>
                            <div class="mb2"><div class="rich-text"><p>All of beam’s products are tested in-house and by third-party labs to ensure that the right concentration of compounds.


                            </p></div></div>
            </div>
        </div>   

        </div>
        

        <div class="grid-container contained pt1--md pb1--md">

            <div class="row align--center mb0">
                <div class="col c8--sm c6--lg">
                    <hr />

                    <h2 class="sans--medium fw--600 color--purple mb2">all about beam</h2>
                </div>
            </div>
            <div class="row align--center mb0">
                <div class="col c8--sm c6--lg">
                    <div class="media media--horizontal media--forward gutter--none align--middle pt2 pb0">
                        <span class="media__fluid tl link__target">
                            <span class="fw--600 db pr2">
                                How are beam products different from other hemp products? 
                            </span></span></div>
                         <div class="mb2"><div class="rich-text">
                             <p>
                                Many hemp products in the marketplace are made using hemp isolate, which excludes some of the beneficial compounds naturally found in hemp. beam products are different because they use broad spectrum hemp, meaning they contain a combination of compounds, terpenes and other beneficial compounds.
                            </p></div></div>
                </div>          
            </div>

            <div class="row align--center mb0">
                <div class="col c8--sm c6--lg">
                    <div class="media media--horizontal media--forward gutter--none align--middle pt2 pb0">
                        <span class="media__fluid tl link__target">
                            <span class="fw--600 db pr2">
                                Do beam products have an expiration date?

                            </span></span></div>
                         <div class="mb2"><div class="rich-text">
                             <p>
                                when stored in proper conditions (at or below room temperature, out of direct sunlight) hemp has an extremely long shelf life and is very stable. we include a manufacturing date on all of our products to give you peace of mind.

                            </p></div></div>
                </div>          
            </div>

            <div class="row align--center mb0">
                <div class="col c8--sm c6--lg">
                    <div class="media media--horizontal media--forward gutter--none align--middle pt2 pb0">
                        <span class="media__fluid tl link__target">
                            <span class="fw--600 db pr2">
                                How should I store my beam products?
  
                            </span></span></div>
                         <div class="mb2"><div class="rich-text">
                             <p>
                                all of our products should stored at room temperature and out of direct sunlight. changes in color can occur in natural products but does not change the potency of the product.

                            </p></div></div>
                </div>          
            </div>

            <div class="row align--center mb0">
                <div class="col c8--sm c6--lg">
                    <div class="media media--horizontal media--forward gutter--none align--middle pt2 pb0">
                        <span class="media__fluid tl link__target">
                            <span class="fw--600 db pr2">
                                Where is the hemp used in beam grown? 
                  
                            </span></span></div>
                         <div class="mb2"><div class="rich-text">
                             <p>
                                we spent years finding the highest quality hemp biomass and extraction sources in the united states, including colorado, oregon, california and montana.  

                            </p></div></div>
                </div>          
            </div>



            <div class="row align--center mb0">
                <div class="col c8--sm c6--lg">
                    <div class="media media--horizontal media--forward gutter--none align--middle pt2 pb0">
                        <span class="media__fluid tl link__target">
                            <span class="fw--600 db pr2">
                                Are beam products gluten-free?
  
                            </span></span></div>
                         <div class="mb2"><div class="rich-text">
                             <p>
                                Yes, our products are gluten-free.

                            </p></div></div>
                </div>          
            </div>

            <div class="row align--center mb0">
                <div class="col c8--sm c6--lg">
                    <div class="media media--horizontal media--forward gutter--none align--middle pt2 pb0">
                        <span class="media__fluid tl link__target">
                            <span class="fw--600 db pr2">
                                Are beam products vegan?

                            </span></span></div>
                         <div class="mb2"><div class="rich-text">
                             <p>
                                Our blends and tinctures are vegan. The Fixer, our salve, is not vegan because it’s made with beeswax.

                            </p></div></div>
                </div>          
            </div>

            <div class="row align--center mb0 hidden">
                <div class="col c8--sm c6--lg">
                    <div class="media media--horizontal media--forward gutter--none align--middle pt2 pb0">
                        <span class="media__fluid tl link__target">
                            <span class="fw--600 db pr2">
                                What is TLC?
 
                            </span></span></div>
                         <div class="mb2"><div class="rich-text">
                             <p>
                                TLC stands for “Tender Loving Care.”

                            </p></div></div>
                </div>          
            </div>
            

            <div class="row align--center mb0">
                <div class="col c8--sm c6--lg">
                    <div class="media media--horizontal media--forward gutter--none align--middle pt2 pb0">
                        <span class="media__fluid tl link__target">
                            <span class="fw--600 db pr2">
                                what is the difference between nano and regular hemp?
                            </span></span></div>
                         <div class="mb2"><div class="rich-text">
                             <p>
                                two words: surface area. when you break hemp molecules down to tiny droplets, your body has a dramatically increased ability to absorb hemp. it’s the next level in our hemp innovation that makes beam so much better.

                            </p></div></div>
                </div>          
            </div>

            <div class="row align--center mb0">
                <div class="col c8--sm c6--lg">
                    <div class="media media--horizontal media--forward gutter--none align--middle pt2 pb0">
                        <span class="media__fluid tl link__target">
                            <span class="fw--600 db pr2">
                                How does hemp work?

                            </span></span></div>
                         <div class="mb2"><div class="rich-text">
                             <p>
                                when hemp enters the body, it interacts with our ECS system, which has been found to regulate various parts of the body to help maintain homeostasis, or balance. 

                            </p></div></div>
                </div>          
            </div>

            <div class="row align--center mb0">
                <div class="col c8--sm c6--lg">
                    <div class="media media--horizontal media--forward gutter--none align--middle pt2 pb0">
                        <span class="media__fluid tl link__target">
                            <span class="fw--600 db pr2">
                                can you build up a tolerance to hemp/beam?
                            </span></span></div>
                         <div class="mb2"><div class="rich-text">
                             <p>
                                the human ECS system is still the subject of active research, but many customers find the best results through consistent use. finding the right serving size can be fluid and vary from person to person.

                            </p></div></div>
                </div>          
            </div>    
        </div>

    </div>

</div>
<div class="mt3 tc hide--md">
    <a href="https://beamtlc.com/pages/sms-support" class="fw--600 sans--medium underline color--primary">need help? text us!</a>
  </div>
<div class="mb3 mt1"></div>