
<div class="reveal__container active">
    <div class="hero hero--desktop pr color--white bb--blue of--hidden vertical-align-container">
        <picture class="hero__cover hero__reveal--bg">
            <source srcset="https://cdn.shopify.com/s/files/1/0264/4076/1399/files/dream-caps.jpg?v=1590550843" media="(min-width: 800px)" />
            <img class="hero__cover" alt="Hero image" src="https://cdn.shopify.com/s/files/1/0264/4076/1399/files/Schmaling-03092020633667_1.jpg?v=1590550121" /></picture>
        <div class="push-up full-width">
            <div class="grid-container contained">
                <div class="row mt10 pt10 pt0--md mt8--md mb1 mb0--md" >
                  <div class="col c2--sm c3--md c6--xl"></div>
                    <div class="col c12 c8--sm c8--md c5--xl">
                        <div class="sans--xxl sans--stagger hero__reveal--staggered tc tr--md">
                            <p>Hustle readers, <br/>
                                you deserve <strong>better</strong> sleep.
                                </p>

                            <p class="sans--medium mt2">Use code <strong>HUSTLE</strong> for 20% off at checkout </p>
                            <a class="custom-button--wave-primary-top link--opacity rounded" style="line-height: 2;"  title="get yours now" href="/products/sleep-capsules">shop dream capsules</a>
                        </div>

                    </div>
                    <div class="col c1--lg"></div>
                </div>

            </div>

        </div>

    </div>
</div>



<div class="mt8 mb8 mt10--md mb10--md">
    <div class="reveal__container active">
        <div class="reveal__component__0--fade-fast grid-container contained pt2--md pb2--md">
            <div class="row align--center tc">
                <div class="col c8--md c7--lg">
                    <div class="rich-text rich-text--content mb4">                        
                            <h1 style="text-align: center">the highest-quality hemp products for a wellness-minded community - made by professional athletes with <span class="rich-text__gradient">transparency, honesty, and compassion.</span> </h1>
                    </div>
                </div>
                <div class="db tc">
                    <a class="button--primary rounded" title="get yours now" href="/shop-by-product/">shop now</a>
                </div>

            </div>
        </div>
    </div>
</div>





<div class="mt8 mb8 mt10--md mb10--md">
    <div class="grid-container contained pt2--md pb2--md">
        <div class="row">
            <div class="col c1 show--lg"></div>
            <div class="col c5--md mb3 mb0--md">
                <div class="b--blue promo__pull-flush--left">
                    <div class="pr">
                        <div class="box-shadow align--right"></div>
                        <div class="push-up">
                            <picture class="full-width">
                                <source
                                    srcset="https://cdn11.bigcommerce.com/s-lijn59vba/product_images/uploaded_images/frame-7.jpg"
                                    media="(min-width: 800px)"><img class="full-width" alt="boost ingredients"
                                    src="https://cdn11.bigcommerce.com/s-lijn59vba/product_images/uploaded_images/frame-7.jpg">
                            </picture>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col c1 show--xl"></div>
            <div class="col c6--md c4--xl pt4--lg pt8--xl">
                <div class="tl tl--md">
                    <h2 class="sans--medium-large fw--600 mb2">dreams are made of this</h2>
                    <div class="rich-text mb2 mb4--lg">
                        <p>This tasty dream-boosting blend tastes like a warm hot coco while helping your body and mind wind down for a deeper night’s sleep. It includes relaxing compounds like melatonin, magnesium, and L-Theanine, plus our nano hemp powder.
                        </p>
                    </div>
                    <div class="show--md media media--forward gutter--none">
                               
                        <div class="media__fixed">
                            <a title="learn more" class="button--primary rounded"
                                href="/products/sleep-powder">shop dream blends</a>
                        </div>

                    </div>
                    <p class="hide--md tc"><a title="learn more" class="button--primary rounded"
                        href="/products/sleep-powder">shop dream blends</a></p>
                </div>
            </div>
            <div class="col c1 show--xl"></div>
        </div>
    </div>
  </div>
  
  <div class="mt8 mb8 mt10--md mb10--md">
    <div class="grid-container contained pt2--md pb2--md">
        <div class="row direction--rev--md">
            <div class="col c1 show--lg"></div>
            <div class="col c5--md mb3 mb0--md">
                <div class="b--blue promo__pull-flush--right">
                    <div class="pr">
                        <div class="box-shadow align--left"></div>
                        <div class="push-up">
                            <picture class="full-width">
                                <source
                                    srcset="https://cdn.shopify.com/s/files/1/0264/4076/1399/files/Schmaling-03092020633883_1.png?v=1591478696"
                                    media="(min-width: 800px)"><img class="full-width" alt="meet boost"
                                    src="https://cdn.shopify.com/s/files/1/0264/4076/1399/files/Schmaling-03092020633883_1.png?v=1591478696">
                            </picture>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col c1 show--xl"></div>
            <div class="col c6--md c4--xl pt4--lg pt8--xl">
                <div class="tc tl--md">
                    <h2 class="sans--large fw--600 mb2">you dreamt it, we made it
                    </h2>
                    <div class="rich-text mb2 mb4--lg">
                        <p>Everything you love about the original dream blend is now in a convenient capsule. Formulated with sleep-promoting compounds like magnesium and melatonin along with our nano hemp, Dream can help you get better, more restful sleep (wherever you are).</p>
                    </div>
                    <div class="show--md media media--forward gutter--none">
                               
                        <div class="media__fixed">
                            <a title="learn more" class="button--primary rounded"
                                href="/products/sleep-capsules">shop dream capsules</a>
                        </div>

                    </div>
                    <p class="hide--md tc"><a title="learn more" class="button--primary rounded"
                        href="/products/sleep-capsules">shop dream capsules</a></p>
                </div>
            </div>
            <div class="col c1 show--xl"></div>
        </div>
    </div>
  </div>
  

<div class="pb6 pt0" >
    <div class="col">
        <div class="rich-text rich-text--content mb5">                        
                <h1 style="text-align: center">    shop all products and <span class="rich-text__gradient">find your better</span></h1>
        </div>
    </div>

    <div class="col">
      <div class="reveal__container active">
          <div class="reveal__component__1--fade-fast grid-container contained">
              <div class="row align--center">
                  <div class="col c9--lg">
                      <div class="row gutter--vertical align--center">
                        {% assign mycollection = 'the-hustle' %}

                        {% for product in collections[mycollection].products %}

                        <div class="col c6--sm c4--md">
                            <div class="b--blue product-card pb1">
                          {% include 'product-grid-item' with 'three-per-row' %}
                        </div>
                        </div>
                        
                        {% endfor %}
</div>
</div>
</div>
</div>
</div>
</div>
</div>


  <div class="reveal__container active">
    <div class="hero--short pr color--white bt--blue bb--blue of--hidden">
        <picture class="hero__cover hero__reveal--bg">
            <source
                srcset="https://beam.imgix.net/beam-homepage-education-desktop@2x.jpg?mtime=20190721183125&amp;auto=format&amp;q=50&amp;w=2100"
                media="(min-width: 800px)"><img class="hero__cover" alt="Hero image"
                src="https://beam.imgix.net/beam-homepage-education-mobile@2x_190725_175209.jpg?mtime=20190725105212&amp;auto=format&amp;q=50&amp;w=1000">
        </picture>
        <div class="hero__center push-up">
            <div class="pt6 pb8">
                <div class="grid-container contained">
                    <div class="row align--center">
                        <div class="col c8--sm c6--md c4--xl">
                            <div class="sans--xxl sans--stagger hero__reveal--staggered">
                                <p>for</p>
                                <p style="text-align: right">better</p>
                                <p style="text-align: center">days</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="hero__footer tc hero__reveal--footer">
            <div class="pixel--pull-bottom"><a class="button--wave-primary-top" title="how does hemp work?"
                    href="/pages/education">how does hemp work?</a></div>
        </div>
    </div>
</div>





