
<div class="reveal__container active">
    <div class="pr color--blue of--hidden pt2 pt6--md">
        <div class="pt6">
            <div class="pt6">
                <div class="grid-container contained">
                    <h1 class="sans--xl tc mb4 mb8--md">
                        <img class="show--md" style="width: 120px;" src="{{ 'beam-logo-blue.png' | asset_url }}"/>
                        careers</h1>
                </div>
            </div>
        </div>
    </div>
    <img class="pa wave-overlay" src="//cdn.shopify.com/s/files/1/0264/4076/1399/t/12/assets/wave-overlay.png?v=11608760819937612709">

</div>

<div class="mt2 mb4 mt10--md mb4--md">
    <div class="grid-container contained pt1--md pb1--md">
        <div class="row align--center mb0 mb0--md">
            <div class="col c10--sm c8--md c6--xxl">
                <div class="tl">
                    <h3 class="sans--large fw--600 mb1 mb2--md color--blue">our culture</h3>
                    <hr />

                </div>
            </div>
        </div>
        <div class="row align--center mb0 mb0--md">
            <div class="col c10--sm c8--md c6--xxl">
                <p class="sans--body mb2">
        As a company that values diversity, equity, and inclusion, beam encourages individuals of all backgrounds and experiences to apply for this opportunity. We’re a small, collaborative, hardworking team creating an environment where everyone can flourish. 
    </p> 
    <p class="sans--body mb2">
        beam provides autonomy, ownership, flexibility, direct and constructive feedback, a safe space to thrive, and unbridled opportunity for growth outside of silos. our people are empowered to make decisions for the company- both big and small.
    </p>
    <p class="sans--body">
        beam provides fully covered medical benefits, unlimited time off, 401k with up to 4% match, charity matching, a wellness stipend toward health or fitness, hsa/fsa/childcare fsa enrollment, and an investment into professional and personal development.
        </p>   

    </div>

</div>
 
<div class="tc mt4 mt6--md">
<a href="https://www.inc.com/profile/beam" target="_blank"><img class="" style="width: 220px;" src="{{ 'Inc_2021_BestWorkplaces_StandardLogo.png' | asset_url }}"/></a>
</div>
    </div>

</div>

<div class="pt1 pb1 tc mt4 mt8--md mb1 mb2--md color--white bg--blue">
    <div class="marquee">
        <div class="track">
          <div class="content">
            supportive  <span class="pl4 pr4">•</span>  real  <span class="pl4 pr4">•</span>  a constant pursuit  <span class="pl4 pr4">•</span>  unified  <span class="pl4 pr4">•</span>  unstoppable  <span class="pl4 pr4">•</span>  resilient  <span class="pl4 pr4">•</span>  a symphony  <span class="pl4 pr4">•</span>  collaborative  <span class="pl4 pr4">•</span>  ambitious  <span class="pl4 pr4">•</span>  autonomous  <span class="pl4 pr4">•</span>
             supportive  <span class="pl4 pr4">•</span>  real  <span class="pl4 pr4">•</span>  a constant pursuit  <span class="pl4 pr4">•</span>  unified  <span class="pl4 pr4">•</span>  unstoppable  <span class="pl4 pr4">•</span>  resilient  <span class="pl4 pr4">•</span>  a symphony  <span class="pl4 pr4">•</span>  collaborative  <span class="pl4 pr4">•</span>  ambitious  <span class="pl4 pr4">•</span>  autonomous  <span class="pl4 pr4">•</span>
        </div>
        </div>
      </div>

    </div>


<div class="mt6 mb4 mt10--md mb4--md">
    <div class="grid-container contained pt1--md pb1--md">
        <div class="row align--center mb0 mb0--md">
            <div class="col c10--sm c8--md c6--xxl">
                <div class="tl">
                    <h3 class="sans--large fw--600 mb1 mb2--md color--blue">the values that guide us</h3>
                    <hr />

                </div>
            </div>
        </div>
        <div class="row align--center mb0 mb0--md">
            <div class="col c10--sm c8--md c6--xxl">
                <h4 class="color--purple fw--600 sans--mid-medium">
                    people first
                </h4>
                <p class="sans--body mb2">
                    we take care of ourselves, our teammates and our customers equally
                </p> 
                <h4 class="color--purple fw--600 sans--mid-medium">
                    constant improvement
                </h4>
                <p class="sans--body mb2">
                    small daily improvements and a commitment to innovation and growth in our personal lives, as well as throughout the business
                </p> 
                <h4 class="color--purple fw--600 sans--mid-medium">
                    transparent and open communication
                </h4>
                <p class="sans--body mb2">
                    say it straight or it comes out crooked- respectful and direct communication always
                </p> 
                <h4 class="color--purple fw--600 sans--mid-medium">
                    ego is the enemy
                </h4>
                <p class="sans--body mb2">
                    always stay humble, hungry, and curious
                </p> 
                <h4 class="color--purple fw--600 sans--mid-medium">
                    think like an owner
                </h4>
                <p class="sans--body mb2">
                    how are my actions or this moment going to affect the big picture?
                </p> 
                <h4 class="color--purple fw--600 sans--mid-medium">
                    risk taking
                </h4>
                <p class="sans--body mb2">
                    make informed bets and emotionally move on from the ones that don’t work
                </p> 
                <h4 class="color--purple fw--600 sans--mid-medium">
                    creativity and rapid iteration
                </h4>
                <p class="sans--body mb3">
                    think big, fail fast and inexpensively 
                </p> 

                <p class="sans--body fw--600 mb2" style="font-style: italic !important;">
                    if you embody these characteristics and beam’s values and culture resonate with you, please email <a href="mailto:people@beamtlc.com">people@beamtlc.com</a> to tell us about yourself and learn more about our open roles.
                </p>
    </div>

</div>
   
    </div>

</div>

<div class="mt4 mb4 mt6--md mb5--md">
    <div class="grid-container contained pt1--md pb1--md">
        <div class="row align--center mb0 mb0--md">
            <div class="col c10--sm c8--md c6--xxl">
                <div class="tl">
                    <h3 class="sans--large fw--600 mb1 mb2--md color--blue">open roles</h3>
                    <hr />
                    <p class="sans--mid-medium mb1 mb3--md fw--600 color--blue" style="max-width: 500px;">
                        We are currently seeking qualified candidates to join our team in the following roles:
                    </p> 
                </div>
            </div>
        </div>
        <div class="row align--center mb0 mb4--md">
            <div class="col c10--sm c8--md c6--xxl">


                    <div class="accordion">
                        <div class="item">
                            <a href="#acc7Desk" class="acc-heading-desktop sans--medium mt1 mb1 disable-focus-ring">supply chain planner
  
                              <i class="fa fa-angle-down" aria-hidden="true"></i></a>
                        
                            <section id="acc7Desk" class="acc-content-desktop">
                              <div class="inner pb3 mb6 mb3">
                                <p class="sans--body mb3">
                                    in this role, you will collaborate closely with the finance department and operations team, creating and maintaining the sales forecasts and demand plan for a category of products. beam is a rapidly growing DTC eCommerce startup in the consumer packaged goods (CPG) space.
                                </p>
      
                                   <p class="fw--600 sans--mid-medium mb2">what you’ll do</p>            
                                   <ul>
                                    <li style="font-weight: 400;"><span style="font-weight: 400;"> build historical baselines and calculate baseline forecasts</span></li>
                                    <li style="font-weight: 400;"><span style="font-weight: 400;"> collaborate with the finance, operations, and marketing teams to establish incremental forecasts and build assumption-based projections for promotions, events, pr moments, and new product launches</span></li>
                                    <li style="font-weight: 400;"><span style="font-weight: 400;"> maintain all demand planning related tools and historical data for a category of products</span></li>
                                    <li style="font-weight: 400;"><span style="font-weight: 400;"> review historical sales trends, research demand drivers, prepare forecast data, develop statistical forecast models, and evaluate forecast results</span></li>
                                    <li style="font-weight: 400;"><span style="font-weight: 400;"> attend forecast collaboration meetings with the finance, operations and marketing teams</span></li>
                                    <li style="font-weight: 400;"><span style="font-weight: 400;"> review prior month’s forecast accuracy and assess rolling 12-24 months forward forecast</span></li>
                                    <li style="font-weight: 400;"><span style="font-weight: 400;"> prepare and monitor forecast KPI's on a weekly, monthly and quarterly basis, taking corrective actions as necessary</span></li>
                                    <li style="font-weight: 400;"><span style="font-weight: 400;"> analyze actual sales and emerging trends in comparison to forecasts</span></li>
                                    <li style="font-weight: 400;"><span style="font-weight: 400;"> develop and maintain very strong relationships with cross-functional teams through excellent listening and communication skills</span></li>
                                    <li style="font-weight: 400;"><span style="font-weight: 400;"> build new product launch or extension forecasts to support company growth and submit accurate demand projections to supply chain</span></li>
                                    <li style="font-weight: 400;"><span style="font-weight: 400;"> provide input in developing inventory strategies on existing items, new products, and product phase-outs</span></li>
                                    <li style="font-weight: 400;"><span style="font-weight: 400;"> communicate with finance, marketing and operations teams to provide information on daily/weekly changes to demand and supply issues</span></li>
                                    <li style="font-weight: 400;"><span style="font-weight: 400;"> identify areas in need of improvement and create/present recommendations</span></li>
                                    <li style="font-weight: 400;"><span style="font-weight: 400;"> collaborate with the leadership team to implement process improvements</span></li>

                                   </ul>
                                   <p> </p>
                                   <p class="fw--600 sans--mid-medium mb2">who you are</p>
      
                                   <ul>
                                    <li style="font-weight: 400;"><span style="font-weight: 400;"> 3+ years of experience in statistical forecasting, statistical modeling, or demand planning in CPG industry</span></li>
                                    <li style="font-weight: 400;"><span style="font-weight: 400;"> strong interest for creating process and systems improvement</span></li>
                                    <li style="font-weight: 400;"><span style="font-weight: 400;"> working knowledge of effective supply chain performance including supply planning and supplier relationship management</span></li>
                                    <li style="font-weight: 400;"><span style="font-weight: 400;"> strong demonstration of negotiation and conflict management skills</span></li>
                                    <li style="font-weight: 400;"><span style="font-weight: 400;"> team player- able to work effectively and collaboratively across all departments to meet goals and deadlines</span></li>
                                    <li style="font-weight: 400;"><span style="font-weight: 400;"> strong attention to detail with exceptional organizational and follow-up skills</span></li>
                                    <li style="font-weight: 400;"><span style="font-weight: 400;"> experience successfully managing the execution of complex projects, often several simultaneously</span></li>
                                    <li style="font-weight: 400;"><span style="font-weight: 400;"> strong time management, collaboration, and communication skills</span></li>
                                    <li style="font-weight: 400;"><span style="font-weight: 400;"> ability to work autonomously and prioritize tasks and responsibilities</span></li>
                                    <li style="font-weight: 400;"><span style="font-weight: 400;"> in-house experience at a fast-growing direct-to-consumer subscription model startup a plus</span></li>
                           
                                   </ul>
                                   <p class="sans--body fw--600 mt4 mb3" style="font-style: italic !important;">
                                    If you embody these characteristics and beam’s values and culture resonate with you, please email <a href="mailto:people@beamtlc.com">people@beamtlc.com</a> to tell us about yourself and learn more about this role.
                                    </p>
                                </div><!-- / .inner -->
                            </section>
                          </div><!-- / .item -->

                        <div class="item">
                          <a href="#acc5Desk" class="acc-heading-desktop sans--medium mt1 mb1 disable-focus-ring">performance marketing manager - podcast & media

                            <i class="fa fa-angle-down" aria-hidden="true"></i></a>
                      
                          <section id="acc5Desk" class="acc-content-desktop">
                            <div class="inner pb3 mb6 mb3">
                              <p class="sans--body mb3">
                                in this role, you will collaborate closely with the senior director of partnerships, being responsible for managing the entire funnel of media partnerships (including podcasts, email newsletters, advertorials, etc). beam is a rapidly growing DTC eCommerce startup in the consumer packaged goods (CPG) space.
                            </p>
    
                                 <p class="fw--600 sans--mid-medium mb2">what you’ll do</p>            
                                 <ul>
                                    <li style="font-weight: 400;"><span style="font-weight: 400;">  manage media channels (podcast, email newsletter, advertorial etc.)  to successfully drive acquisition and brand growth for beam</span></li>
                                    <li style="font-weight: 400;"><span style="font-weight: 400;">  identify and build a continuous prospect list of important partners in this space</span></li>
                                    <li style="font-weight: 400;"><span style="font-weight: 400;"> lead onboarding of partners and generate creative briefs; provide creative recommendations and insights to partners that optimize performance</span></li>
                                    <li style="font-weight: 400;"><span style="font-weight: 400;"> compile, analyze and track campaign and channel performance; identify key campaign learnings and quantifiable business opportunities to improve existing campaigns</span></li>
                                    <li style="font-weight: 400;"><span style="font-weight: 400;"> work cross-functionally across the organization while managing multiple projects to ensure deliverables are on track</span></li>
                                    <li style="font-weight: 400;"><span style="font-weight: 400;"> document tests and consistently share key findings to inform future initiatives</span></li>
                                    <li style="font-weight: 400;"><span style="font-weight: 400;"> manage campaign setup, invoicing and budget reporting for primary channels</span></li>
                                   
                                 </ul>
                                 <p> </p>
                                 <p class="fw--600 sans--mid-medium mb2">who you are</p>
    
                                 <ul>
                                    <li style="font-weight: 400;"><span style="font-weight: 400;">  2-3 years experience building and scaling media marketing channels - podcasts & newsletters (required). YouTube experience a bonus</span></li>
                                    <li style="font-weight: 400;"><span style="font-weight: 400;">  deep knowledge and interest in the podcast channel and keeping up with key industry trends</span></li>
                                    <li style="font-weight: 400;"><span style="font-weight: 400;">  critical thinker—use logic and reasoning to identify the strengths and weaknesses of alternative solutions, conclusions or approaches to problems</span></li>
                                    <li style="font-weight: 400;"><span style="font-weight: 400;">  driven for results and driven by data.</span></li>
                                    <li style="font-weight: 400;"><span style="font-weight: 400;">  understanding of media fundamentals across print and digital channels</span></li>
                                    <li style="font-weight: 400;"><span style="font-weight: 400;"> team player- able to work effectively and collaboratively across all departments to meet goals and deadlines</span></li>
                                    <li style="font-weight: 400;"><span style="font-weight: 400;">  strong attention to detail with exceptional organizational and follow-up skills</span></li>
                                    <li style="font-weight: 400;"><span style="font-weight: 400;"> experience successfully managing the execution of complex projects, often several simultaneously</span></li>
                                    <li style="font-weight: 400;"><span style="font-weight: 400;"> strong time management, collaboration, and communication skills</span></li>
                                    <li style="font-weight: 400;"><span style="font-weight: 400;"> ability to work autonomously and prioritize tasks and responsibilities</span></li>
                
                                
                                 </ul>
                                 <p class="sans--body fw--600 mt4 mb3" style="font-style: italic !important;">
                                  If you embody these characteristics and beam’s values and culture resonate with you, please email <a href="mailto:people@beamtlc.com">people@beamtlc.com</a> to tell us about yourself and learn more about this role.
                                  </p>
                              </div><!-- / .inner -->
                          </section>
                        </div><!-- / .item -->
                    <div class="item">
                      <a href="#acc4Desk" class="acc-heading-desktop sans--medium mt1 mb1 disable-focus-ring">retention manager, subscriptions <i class="fa fa-angle-down" aria-hidden="true"></i></a>
                  
                      <section id="acc4Desk" class="acc-content-desktop">
                        <div class="inner pb3 mb6 mb3">
                          <p class="sans--body mb3">
                            in this role, you will collaborate closely with the VP of growth and director of retention, as well as work cross-functionally with the creative and operations teams to make strategic decisions for our subscription program. beam is a rapidly growing DTC eCommerce startup in the consumer packaged goods (CPG) space.
                        </p>

                             <p class="fw--600 sans--mid-medium mb2">what you’ll do</p>            
                             <ul>
                                <li style="font-weight: 400;"><span style="font-weight: 400;">drive subscription revenue by developing new acquisition channels, improving customer retention and optimizing communications to maximize conversion</span></li>
                                <li style="font-weight: 400;"><span style="font-weight: 400;">  implement a holistic marketing plan to acquire new subscribers across multiple channels, including organic, social, email, affiliate, and programmatic</span></li>
                                <li style="font-weight: 400;"><span style="font-weight: 400;"> ideate and produce creative and copy with the goal of engaging users and driving subscriptions</span></li>
                                <li style="font-weight: 400;"><span style="font-weight: 400;"> build and maintain a subscription marketing roadmap to align with key dates throughout the year</span></li>
                                <li style="font-weight: 400;"><span style="font-weight: 400;"> identify key trends and insights and implement tests to improve user acquisition, conversion, and retention</span></li>
                                <li style="font-weight: 400;"><span style="font-weight: 400;"> work with cross-functional teams to improve the subscription experience and value proposition</span></li>
                       
                             </ul>
                             <p> </p>
                             <p class="fw--600 sans--mid-medium mb2">who you are</p>

                             <ul>
                                <li style="font-weight: 400;"><span style="font-weight: 400;"> 3+ years of experience working in retention/subscription-based marketing</span></li>
                                <li style="font-weight: 400;"><span style="font-weight: 400;"> proven track record of increasing subscriber base and retention</span></li>
                                <li style="font-weight: 400;"><span style="font-weight: 400;"> experience with loyalty programs and referral programs</span></li>
                                <li style="font-weight: 400;"><span style="font-weight: 400;"> team player- able to work effectively and collaboratively across all departments to meet goals and deadlines</span></li>
                                <li style="font-weight: 400;"><span style="font-weight: 400;"> strong attention to detail with exceptional organizational and follow-up skills</span></li>
                                <li style="font-weight: 400;"><span style="font-weight: 400;"> experience successfully managing the execution of complex projects, often several simultaneously</span></li>
                                <li style="font-weight: 400;"><span style="font-weight: 400;"> strong time management, collaboration, and communication skills</span></li>
                                <li style="font-weight: 400;"><span style="font-weight: 400;"> ability to work autonomously and prioritize tasks and responsibilities</span></li>
                                <li style="font-weight: 400;"><span style="font-weight: 400;"> in-house experience at a fast-growing direct-to-consumer subscription model startup a plus</span></li>
                            
                             </ul>
                             <p class="sans--body fw--600 mt4 mb3" style="font-style: italic !important;">
                              If you embody these characteristics and beam’s values and culture resonate with you, please email <a href="mailto:people@beamtlc.com">people@beamtlc.com</a> to tell us about yourself and learn more about this role.
                              </p>
                          </div><!-- / .inner -->
                      </section>
                    </div><!-- / .item -->


                      <div class="item">
                        <a href="#acc1Desk" class="acc-heading-desktop sans--medium mt1 mb1 disable-focus-ring">senior data analyst <i class="fa fa-angle-down" aria-hidden="true"></i></a>
                    
                        <section id="acc1Desk" class="acc-content-desktop">
                          <div class="inner pb3 mb6 mb3">
                            <p class="sans--body mb3">
                                in this role, you will be responsible for embedding yourself into cross-functional teams across the business in order to turn data into information, information into insights, and insights into key business decisions that steer the strategic direction of the company. the right candidate is a self-starter who can become a proactive driver of infrastructure and analytical improvements in order to develop and scale our data infrastructure, and ultimately change the way the company interacts with data.
                               </p>

                               <p class="fw--600 sans--mid-medium mb2">what you’ll do</p>            
                               <ul>
                               <li style="font-weight: 400;"><span style="font-weight: 400;">partner with team to design, develop + deliver robust and scalable reporting automation</span></li>
                               <li style="font-weight: 400;"><span style="font-weight: 400;">define data systems and tools with product and engineering to produce revenue dashboards and other business intelligence reports</span></li>
                               <li style="font-weight: 400;"><span style="font-weight: 400;">provide daily revenue insights to the finance and executive team</span></li>
                               <li style="font-weight: 400;"><span style="font-weight: 400;">develop scalable reporting solutions for non-finance stakeholders</span></li>
                               <li style="font-weight: 400;"><span style="font-weight: 400;">simplify complex problems + huge data sets to extract non-obvious insights</span></li>
                               <li style="font-weight: 400;"><span style="font-weight: 400;">be part of a great team, but capable of operating independently - managing relationships, deliverables and expectations with your business partners</span></li>
                               <li style="font-weight: 400;"><span style="font-weight: 400;">be collaborative, approachable and able to connect with each and every person on the team and throughout the business</span></li>
                               <li style="font-weight: 400;"><span style="font-weight: 400;">remain detail-oriented while working across a wide variety of projects</span></li>
                               </ul>
                               <p> </p>
                               <p class="fw--600 sans--mid-medium mb2">who you are</p>

                               <ul>
                               <li style="font-weight: 400;"><span style="font-weight: 400;">you exhibit an enthusiastic, can-do spirit and approach your work with curiosity, resilience, and a growth mindset in a fast-paced, dynamic work environment</span></li>
                               <li style="font-weight: 400;"><span style="font-weight: 400;">you have a demonstrated commitment to ongoing personal growth and development</span></li>
                               <li style="font-weight: 400;"><span style="font-weight: 400;">an expert in SQL</span></li>
                               <li style="font-weight: 400;"><span style="font-weight: 400;">demonstrated ability to work collaboratively across different functions and effectively influence senior business partners</span></li>
                               <li style="font-weight: 400;"><span style="font-weight: 400;">strong experience with database management systems and coding</span></li>
                               <li style="font-weight: 400;"><span style="font-weight: 400;">enjoy solving complex and unstructured problems</span></li>
                               <li style="font-weight: 400;"><span style="font-weight: 400;">deep experience and demonstrated ability to simplify complex data sets and extract non-obvious insights with frameworks and analyses</span></li>
                               <li style="font-weight: 400;"><span style="font-weight: 400;">strong ability to project manage and to remain detail-oriented while working with numerous stakeholders</span></li>
                               <li style="font-weight: 400;"><span style="font-weight: 400;">knowledge of the digital ad space, subscriptions programs, and DTC e-comm a strong plus</span></li>
                               </ul>
                               <p class="sans--body fw--600 mt4 mb3" style="font-style: italic !important;">
                                If you embody these characteristics and beam’s values and culture resonate with you, please email <a href="mailto:people@beamtlc.com">people@beamtlc.com</a> to tell us about yourself and learn more about this role.
                                </p>
                            </div><!-- / .inner -->
                        </section>
                      </div><!-- / .item -->

                      <div class="item">
                        <a href="#acc2Desk" class="acc-heading-desktop sans--medium mt1 mb1 disable-focus-ring">executive assistant <i class="fa fa-angle-down" aria-hidden="true"></i></a>
                    
                        <section id="acc2Desk" class="acc-content-desktop">
                            <div class="inner pb3 mb6 mb3">
                                <p class="sans--body mb2">
                                    in this role, you will assist the Co-CEOs with all of their priorities, including scheduling meetings, managing their calendars, coordinating travel, and project management- working in both a strategic and task-oriented capacity.
                                </p>
                               <p class="sans--body mb3">
                                This person must be passionate about people, extremely organized, and has the flexibility to adapt to changing priorities.
                                                        </p>
                               <p class="fw--600 sans--mid-medium mb2">what you’ll do</p>
                               <ul>

                                <li style="font-weight: 400;"><span style="font-weight: 400;">schedule all meetings for Co-CEOs</span></li>
                                    <li style="font-weight: 400;"><span style="font-weight: 400;">manage the Co-CEO’s calendars</span></li>
                                        <li style="font-weight: 400;"><span style="font-weight: 400;">coordinate travel for the Co-CEOs as well other team members/stakeholders as needed</span></li>
                                            <li style="font-weight: 400;"><span style="font-weight: 400;"> prioritize, multi-task, and handle a continuously evolving environment</span></li>
                                                <li style="font-weight: 400;"><span style="font-weight: 400;">track priorities for the Co-CEOs and push important items forward with the team as needed </span></li>
                                                    <li style="font-weight: 400;"><span style="font-weight: 400;">project manage milestones by providing status updates and ensuring that cross-functional partners are included in meetings and communications</span></li>
                                                        <li style="font-weight: 400;"><span style="font-weight: 400;">assist with people operations/HR projects as needed (examples include assisting in organizing team events, recruitment processes, and helping with onboarding)</span></li>
                                                            <li style="font-weight: 400;"><span style="font-weight: 400;">complete other duties as assigned</span></li>

                               </ul>
                               <p> </p>
                               <p class="fw--600 sans--mid-medium mb2">who you are</p>
                               <ul>

                                <li style="font-weight: 400;"><span style="font-weight: 400;"> previous experience as an executive assistant in a fast-paced environment </span></li>
                                    <li style="font-weight: 400;"><span style="font-weight: 400;"> strong attention to detail with exceptional organizational and follow-up skills </span></li>
                                        <li style="font-weight: 400;"><span style="font-weight: 400;"> high degree of professionalism, integrity and confidentiality </span></li>
                                            <li style="font-weight: 400;"><span style="font-weight: 400;"> experience successfully managing the execution of complex projects </span></li>
                                                <li style="font-weight: 400;"><span style="font-weight: 400;"> excellent written and oral communication skills </span></li>
                                                    <li style="font-weight: 400;"><span style="font-weight: 400;"> high energy, ability to consistently take initiative, and a healthy dose of hustle</span></li>
                                                        <li style="font-weight: 400;"><span style="font-weight: 400;"> strong time management, collaboration, and communication skills</span></li>
                                                            <li style="font-weight: 400;"><span style="font-weight: 400;"> ability to work autonomously and prioritize tasks and responsibilities</span></li>
                                

                </ul>
                                <p class="sans--body fw--600 mt4 mb3" style="font-style: italic !important;">
                                    If you embody these characteristics and beam’s values and culture resonate with you, please email <a href="mailto:people@beamtlc.com">people@beamtlc.com</a> to tell us about yourself and learn more about this role.
                                    </p>
                            </div><!-- / .inner -->
                        </section>
                      </div><!-- / .item -->
                      <div class="item">
                        <a href="#acc3Desk" class="acc-heading-desktop sans--medium mt1 mb1 disable-focus-ring">email + web designer <i class="fa fa-angle-down" aria-hidden="true"></i></a>
                    
                        <section id="acc3Desk" class="acc-content-desktop">
                            <div class="inner pb3 mb6 mb3">
         
                               <p class="sans--body mb3">
                                in this role, you will collaborate cross-functionally with the growth, retention, design and technology teams spending 50% of your time on website design and 50% of your time on email design.
                            </p>
                               <p class="fw--600 sans--mid-medium mb2">what you’ll do</p>
                               <ul>
                                <li style="font-weight: 400;"><span style="font-weight: 400;">frontend UI design for the beam website and all landing pages
                                </span></li>
                                <li style="font-weight: 400;"><span style="font-weight: 400;">web asset creation and optimization
                                </span></li>
                                <li style="font-weight: 400;"><span style="font-weight: 400;">regularly research and understand best ways to increase CVR and to stay on-trend and competitive
                                </span></li>
                                <li style="font-weight: 400;"><span style="font-weight: 400;">design all email campaigns, take feedback and edit accordingly
                                </span></li>
                                <li style="font-weight: 400;"><span style="font-weight: 400;">keep email design on-trend and competitive in the space while being on-brand
                                </span></li>
                                <li style="font-weight: 400;"><span style="font-weight: 400;">maintain web and email style guides
                                </span></li>
                                </ul>
                                </ul>
                               <p> </p>
                               <p class="fw--600 sans--mid-medium mb2">who you are</p>
                               <ul>
                                <li style="font-weight: 400;"><span style="font-weight: 400;">will work with the Director of Technology and UX Designer to create engaging web pages
                                </span></li>
                                <li style="font-weight: 400;"><span style="font-weight: 400;">will work with the Director of Retention on the email process
                                </span></li>
                                <li style="font-weight: 400;"><span style="font-weight: 400;">can produce high-quality work in a fast-paced, collaborative environment
                                </span></li>
                                <li style="font-weight: 400;"><span style="font-weight: 400;">proficient to expert knowledge in photoshop, sketch
                                </span></li>
                                <li style="font-weight: 400;"><span style="font-weight: 400;">has experience scoping complex solutions, oftentimes without all the required information
                                </span></li>
                                <li style="font-weight: 400;"><span style="font-weight: 400;">is organized and can manage several projects at one time
                                </span></li>
                                </ul>
                                <p class="sans--body fw--600 mt4 mb3" style="font-style: italic !important;">
                                    If you embody these characteristics and beam’s values and culture resonate with you, please email <a href="mailto:people@beamtlc.com">people@beamtlc.com</a> to tell us about yourself and learn more about this role.
                                    </p>
                            </div><!-- / .inner -->
                        </section>
                      </div><!-- / .item -->
                      <div class="item">
                        <a href="#acc4Desk" class="acc-heading-desktop sans--medium mt1 mb1 disable-focus-ring">shopify developer <i class="fa fa-angle-down" aria-hidden="true"></i></a>
                    
                        <section id="acc4Desk" class="acc-content-desktop">
                            <div class="inner pb3 mb6 mb3">
         
                               <p class="sans--body mb3">
                                in this role, you will collaborate cross-functionally with the growth, web, operations, and creative teams to translate concepts into functional ecommerce solutions.
                            </p>
                               <p class="fw--600 sans--mid-medium mb2">what you’ll do</p>
                               <ul>
                                <li style="font-weight: 400;"><span style="font-weight: 400;">creatively solve development problems and translate technical requirements and mockups into site features/improvements</span></li>
                                <li style="font-weight: 400;"><span style="font-weight: 400;">implement new digital technologies and development techniques that help achieve company goals/business objectives</span></li>
                                <li style="font-weight: 400;"><span style="font-weight: 400;">perform ongoing website maintenance including functional changes to our ecommerce store</span></li>
                                <li style="font-weight: 400;"><span style="font-weight: 400;">deliver the best technical implementations for acquisition, conversion, and retention</span></li>
                                <li style="font-weight: 400;"><span style="font-weight: 400;">design, develop, modify, implement, and support software features anywhere in the stack, and determine root cause for the most complex software issues</span></li>
                                </ul>
                                </ul>
                               <p> </p>
                               <p class="fw--600 sans--mid-medium mb2">who you are</p>
                               <ul>
                                <li style="font-weight: 400;"><span style="font-weight: 400;">has 2+ years of professional experience in building websites within the shopify and/or recharge platforms</span></li>
                                <li style="font-weight: 400;"><span style="font-weight: 400;">has a solid understanding and proficiency in coding semantic HTML, JavaScript, AJAX, and maintainable/scalable CSS</span></li>
                                <li style="font-weight: 400;"><span style="font-weight: 400;">understanding of conversion rate optimization or data-driven product development (analytics, a/b testing, etc.)</span></li>
                                <li style="font-weight: 400;"><span style="font-weight: 400;">has experience integrating dynamic content solutions with API services</span></li>
                                <li style="font-weight: 400;"><span style="font-weight: 400;">has experience with version control</span></li>
                                <li style="font-weight: 400;"><span style="font-weight: 400;">has experience scoping complex development solutions, oftentimes without all the required information</span></li>
                                <li style="font-weight: 400;"><span style="font-weight: 400;">is organized and can manage several projects at one time</span></li>
                                </ul>
                                <p class="sans--body fw--600 mt4 mb3" style="font-style: italic !important;">
                                    If you embody these characteristics and beam’s values and culture resonate with you, please email <a href="mailto:people@beamtlc.com">people@beamtlc.com</a> to tell us about yourself and learn more about this role.
                                    </p>
                            </div><!-- / .inner -->
                        </section>
                      </div><!-- / .item -->
                  

                    </div><!-- / .accordion -->
                  
                    <div class="mt4 mt7--md">
<a href="{{ 'beam-culture-deck.pdf' | asset_url }}" class="sans--mid-medium color--blue fw--600" style="text-decoration: underline;" target="_blank">view our company culture deck to learn more</a>

</div>
</div>

</div>
   
    </div>

</div>
<style>
    .wave-overlay {
        top: 110px;
    }
    .accordion li {
        list-style:disc;
        margin-left: 34px;
        padding-left: 10px;
        margin-bottom: 10px;
    }
    .marquee {
  position: relative;
  width: 100vw;
  max-width: 100%;
  height: 26px;
  overflow-x: hidden;
}
.marquee .content {
    font-size: 18px;
    line-height: 26px;
}

.track {
  position: absolute;
  white-space: nowrap;
  will-change: transform;
  animation: marquee 74s linear infinite;
}

@keyframes marquee {
  from { transform: translateX(0); }
  to { transform: translateX(-50%); }
}

@media screen and (max-width: 600px) {
    .wave-overlay {
        top: 60px;
    }
    .pill {
        border-radius: 32px;
        display: inline-block;
        border: #2F358E;
        transition: 200ms ease-in-out;
        min-width: 100%;
        width: 100% !important;
        padding-right: 32px;
        padding-left: 32px;

    }
    .marquee {
  position: relative;
  width: 100vw;
  max-width: 100%;
  height: 22px;
  overflow-x: hidden;
}
.marquee .content {
    font-size: 16px;
    line-height: 22px;
}

.track {
  position: absolute;
  white-space: nowrap;
  will-change: transform;
  animation: marquee 74s linear infinite;
}
}
</style>

<script>
$( document ).ready(function() {

let accTitleDesktop = document.getElementsByClassName("acc-heading-desktop");
		let accContentDesktop = document.getElementsByClassName("acc-content-desktop");
		let singleModeDesktop = true;
		
		for( let j=0; j<accContentDesktop.length; j++ ){
			let realHeightDesktop = accContentDesktop[j].offsetHeight;
			accContentDesktop[j].setAttribute("data-height", realHeightDesktop + "px");
			accContentDesktop[j].style.height = 0;
		}
		
		for( let i=0; i<accTitleDesktop.length; i++ ){
			accTitleDesktop[i].onclick = function(){
				let openedAccDesktop = this.getAttribute('href').replace('#', '');

				if( this.classList.contains("active") ){
					this.classList.remove("active");
					document.getElementById(openedAccDesktop).style.height = 0;
					
					return false;
				}
				
				if( singleModeDesktop ){						
					for(let k=0; k<accTitleDesktop.length; k++) {
						accTitleDesktop[k].classList.remove("active");
					}

					for(let j=0; j<accContentDesktop.length; j++) {
						accContentDesktop[j].style.height = 0;
					}
				}
				
				this.classList.add("active");
				
				document.getElementById(openedAccDesktop).style.height = accContentDesktop[i].getAttribute("data-height");
				
				return false;
			}
    }
});

</script>